<div class="comment">
  	<%= comment.body %>
  	<br>
  	<%= link_to 'Delete', [comment.article, comment],
              method: :delete,
              data: { confirm: "Are you sure?" } %>
</div>

<br>