<div class="comment">
  	<div class="comment-body"><%= comment.body %></div>
  	<%= link_to 'Delete', [comment.article, comment],
              method: :delete,
              data: { confirm: "Are you sure?" } %>
</div>

<br>