<h2>Articles</h2>


<div>
	
	<% @articles.each do |article| %>

	<div class=article-select>
		<%= link_to article.title, article %>
		<% if article.body.length > 50 %>
			<%= article.body[0..45] + "...." %>
		<% else %>
			<%= article.body %>
		<% end %>
	</div>
	<br>

	<% end %>
	
</div>