// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.comment {
	background-color: #f4f4f4;
	margin-left: 1%;
	margin-right: 1%;
}

.comment a{
	text-decoration: none;
	margin-left: 1%; 
}

.comment-user {
	font-weight: bold;
}

.comment-body{
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 5px;
}
